@import "@/assets/css/index.scss";

@mixin universal(){
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .content {
      background: #FFF;
      margin-bottom: 50px;
      box-sizing: border-box;
      border: {
        radius: 5px;
      };

      > div:not(:first-child){
        animation: showAnime .5s;
      }

      .title {
        @include unSelectable;
        text-align: center;
        padding: 10px;
        color: rgba(0, 0, 0, .4);
      }

      .link {
        @include photoLink;
      }

      .load {
        padding: 20px 0;
        @include unSelectable;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: all .3s;
        margin-top: 20px;
        border: {
          radius: 5px;
        };

        &:hover {
          background: rgba(0, 0, 0, .1);
        }

        > span:first-child {
          font-size: 18px;
        }
      }

      .noPhoto {
        border-radius: 5px;
        position: relative;
        transition: all .3s;
        background: {
          size: cover;
          repeat: no-repeat;
        };
        &:hover{
          @include onHover;
        }

        > div {
          color: white;
          position: absolute;
          margin: auto;
          left:0;
          top:0;
          right:0;
          bottom: 0;
        }
      }
    }
  }
}

@media (width>$BREAK_POINT) {
  @include universal;
  .content{
    width: $MAX_WIDTH;
    padding: {
      top: 20px;
      left: 30px;
      right: 30px;
    }

    .title{
      margin-bottom: 50px;
      font: {
        size: 40px;
      }
    }

    .noPhoto{
      width: 100%;
      height: 400px;
      > div {
        height: 24px;
        width: 260px;
        font:{
          size: 24px;
          family: cursive;
        };
      }
    }
  }
}

@media (width<=$BREAK_POINT) {
  @include universal;
  .wrapper{
    padding:0 20px;
    .content{
      width: 100%;
      padding: {
        top: 10px;
        left: 20px;
        right: 20px;
      }

      .title{
        margin-bottom: 20px;
        font-size: 30px;
      }

      .noPhoto{
        width: 100%;
        height: 150px;
        > div {
          height: 18px;
          width: 190px;
          font:{
            size: 18px;
            family: cursive;
          };
        }
      }
    }
  }

}
