@import "@/assets/css/index.scss";

@mixin universal(){
  .wrapper {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $BACKGROUND_THEME;

    .content {
      box-sizing: border-box;
      background-color: #FFF;
      margin-bottom: 50px;
      border: {
        radius: 5px;
      };
    }
  }
}

@media (width>$BREAK_POINT) {
  @include universal;
  .content {
    width: $MAX_WIDTH;
    padding:{
      top:0;
      left:30px;
      right:30px;
      bottom: 30px;;
    }
  }
}

@media (width<=$BREAK_POINT) {
  @include universal;
  .wrapper{
    padding:0 10px;
    .content{
      width: 100%;
      padding:{
        top:0;
        left:15px;
        right:15px;
        bottom: 30px;;
      }
    }
  }
}