@import "@/assets/css/index.scss";

.photosBox {
  padding: 20px 0;
  animation: showAnime .5s;
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    > div:first-child {
      font: {
        size: 24px;
        weight: bold;
        family: cursive;
      }
    }

    > div:last-child {
      cursor: pointer;
      transition: all .3s;
      font: {
        size: 14px;
      }
      &:hover{
        color:$THEME_COLOR;
      }
    }
  }

  .link {
    @include photoLink;
  }

  .noPhoto {
    width: 100%;
    height: 400px;
    transition: all .3s;
    cursor: pointer;
    position: relative;

    &:hover {
      @include onHover;
    }

    > div {
      @include unSelectable;
      color: #FFF;
      width: 260px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      margin: 300px auto;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      font: {
        size: 24px;
        family: cursive;
      }
    }
  }
}