@import "@/assets/css/index.scss";

@mixin universal(){
  .photosBox {
    padding: 20px 0;
    animation: showAnime .5s;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      > div:first-child {
        font: {
          weight: bold;
          family: cursive;
        }
      }

      > div:last-child {
        cursor: pointer;
        transition: all .3s;
        &:hover{
          color:$THEME_COLOR;
        }
      }
    }

    .link {
      @include photoLink;
    }

    .noPhoto{
      transition: all .3s;
      cursor: pointer;
      position: relative;
      border-radius: 5px;
      background: {
        size:cover;
        repeat: no-repeat;
      };

      &:hover {
        @include onHover;
      }

      > div {
        @include unSelectable;
        color: #FFF;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
      }
    }
  }
}


@media (width>$BREAK_POINT) {
  @include universal;
  .title{
    > div:first-child {
      font-size: 24px;
    }

    > div:last-child {
      font-size: 14px;
    }
  }

  .noPhoto {
    width: 100%;
    height: 400px;
    > div {
      width: 260px;
      height: 24px;
      line-height: 24px;
      margin: 300px auto;
      font: {
        size: 24px;
        family: cursive;
      }
    }
  }
}

@media (width<=$BREAK_POINT) {
  @include universal;

  .title{
    > div:first-child {
      font-size: 18px;
    }

    > div:last-child {
      font-size: 12px;
    }
  }

  .noPhoto{
    width: 100%;
    height: 150px;
    > div {
      height: 12px;
      width: 130px;
      margin: 100px auto;
      font: {
        size: 12px;
        family: cursive;
      }
    }
  }
}