@import "@/assets/css/index.scss";

@media (width>$BREAK_POINT){
  .wrapper {
    .classSelect,.photoTime {
      width: 80%;
      margin: 10px auto;
      span:last-child{
        font-size: 12px;
        margin-left: 5px;
      }
    }
    .upload {
      width: 80%;
      margin: 0 auto;
      padding:{
        top:10px;
      }
    }
  }
}

@media (width<$BREAK_POINT){
  .classSelect,.photoTime{
    width: 90%;
    margin: 10px auto;
    >span{
      display: block;
      padding:10px 0;
    }
    >span:last-child{
      font-size: 12px;
    }
  }
  .upload{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
  }
}