@import "@/assets/css/index.scss";

@mixin universal() {
  .wrapper {
    height: 100vh;

    .logo {
      width: 80%;
      height: 45px;
      line-height: 45px;
      margin: 20px auto;
      font-size: 24px;
      text-align: center;
      overflow: hidden;
      border: {
        radius: 5px;
      };
    }

    .logOut {
      cursor: pointer;
      float: right;
      padding-right: 20px;
      transition: all .3s;

      &:hover {
        color: $THEME_COLOR;
      }
    }

    .back {
      float: right;
      padding-right: 20px;
    }
  }
}

@media (width > $BREAK_POINT) {
  @include universal;
  .content {
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
    overflow-y: auto;
  }
}

@media (width<=$BREAK_POINT) {
  @include universal;
}
