// clearfix
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.loading-active{
  display: none;
}

.loading-not-active{
  display: block;
}

// 将antd的Modal组件的滚动条隐藏
.ant-modal-root{
  ::-webkit-scrollbar{
    width: 0;
  }
}