@import "@/assets/css/index.scss";
@import '@/assets/iconfont/iconfont.css';

html {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: $BACKGROUND_THEME;
}

#root {
  height: 100vh;
}

// 滚动条
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $THEME_COLOR;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}